@import './base/typography.scss';

@import './layout/content.scss';
@import './layout/page.scss';

$body-color: red;

body {
  //   background-color: yellow;
  height: 100vh;
  width: 100vw;
  color: $body-color;
  font-family: 'Rubik';
}

.main {
  //   background: #000;
  height: 100vh;
  width: 100vw;
}
