button {
  padding: 25px;
  border: none;
  cursor: pointer;
  //   background: white;
}

.project__btn.active {
  color: var(--hover-link);
}

button:focus {
  color: red;
}

svg {
  width: 20px;
}

.btn-complete {
  border: 1px solid #000;
  width: 1rem;
  height: 1rem;
}

button[complete='false'] {
  border: 1px solid black;
}
button[complete='true'] {
  border: 1px solid red;
}
