button {
  padding: 25px;
  border: none;
  cursor: pointer;
  //   background: white;
}

.project__btn.active {
  color: var(--hover-link);
}

button:focus {
  color: red;
}

svg {
  height: 20px;
  width: 20px;
}

.btn-complete {
  height: 50px;
  width: 50px;
  background-color: inherit;
  border: none;
}

.btn-complete[complete='false'] {
  background-image: url('../img/circleOutline.svg');
}

.btn-complete[complete='true'] {
  background-image: url('../img/checkCircleOutline.svg');
}

.btn-complete > svg {
  fill: #adff2f;
}
