button {
  padding: 25px;
  border: none;
  cursor: pointer;
  //   background: white;
}

.project__btn.active {
  color: var(--hover-link);
}

button:focus {
  color: red;
}

svg {
  height: 20px;
  width: 20px;
}

.btn-complete {
  height: 10px;
  width: 100px;
  background-color: inherit;
  border: none;
}
