header {
  border: 1px solid #000;
  grid-column: 2 / 3;
  min-height: 75px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: var(--light-text);
  background-color: var(--background-col);
}
