.sidebar,
.sidebar__general,
.sidebar__projects {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
// .sidebar__general,
// .sidebar__projects {
//   padding: 50px;
// }

.sidebar {
  box-shadow: var(--box-shadow);
  padding: 50px;
  gap: 50px;
  background-color: var(--sidebar-col);
  grid-row: 2 / 3;
  color: var(--light-text);

  &__header {
    text-align: center;
  }

  &__btn {
    color: var(--light-text);
    background-color: inherit;
    font-size: 1.33rem;
    text-transform: capitalize;

    &:focus {
      color: var(--hover-link);
      transform: scale(1.123);
    }
  }

  &__projects {
    &--container {
      display: flex;
      flex-direction: column;
    }
  }
}

.project {
  &__btn {
    text-transform: capitalize;
    color: var(--light-text);
    background-color: inherit;
  }
}

.add-project {
  color: #eee;
  &:hover {
    color: var(--hover-link);
  }
  text-align: center;
  background-color: var(--light-text);
  padding: 6px 0;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
